<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/images/rss-4-32.ico" sizes="32x32">
    <!--
      <link rel="icon" href="/images/orange-rss-32.ico" sizes="32x32">
    -->
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Feedex" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="gap-0" style="padding: 0; margin: 0;">
    <nav class="navbar navbar-expand-md navbar-dark" style="padding: 3px; background-color: black;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/rss-4-32.png" alt="Home"> Feedex
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navData">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navData">
          <div class="me-auto">
            <!-- spacer -->
          </div>
          <%= render "_live_menu_desktop.html", assigns %>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="padding: 0;">

        <%= @inner_content %>

    </div>
  </body>
</html>
